<div class="col-8 post-border mt-5">
  <div class="row post-border bg-dark-red">
    <h2 class="col-6 text-start text-gray">Sign UP</h2>
  </div>
  <div>
    <form id="login-form" class="row">
      <div>
        <label
          for="Sign-up-userName"
          class="form-control bg-gross-green dark-red fs-4"
        >User name</label>
        <input type="text" class="form-control" id="Sign-up-userName" />
      </div>
      <div>
        <label
          for="sign-up-email"
          class="form-control bg-gross-green dark-red fs-4"
        >Email address</label>
        <input type="email" class="form-control" id="sign-up-email" />
      </div>
      <div class="pb-3">
        <label
          for="sign-up-pwd"
          class="form-control bg-gross-green dark-red fs-4"
        >Password</label>
        <input type="password" class="form-control" id="sign-up-pwd" />
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a href="/login" class="nav-buttons fs-5">Login</a>
    </form>
  </div>
</div>